<div class="content">
    <div class="my-col-40">
        <app-formulario></app-formulario>
    </div>
    <div class="my-col-60">
        <app-grilla-turnos></app-grilla-turnos>
    </div>
</div>
<div class="content">
    <div class="my-col-60">
        <app-scheduler></app-scheduler>
    </div>
    <div class="my-col-40">
        <app-seleccion-horario></app-seleccion-horario>
    </div>
</div>
<div class="content">
    <div class="my-col-40">
        <app-reserva></app-reserva>
    </div>
</div>