.texto {
    line-height:26px;
}

.rowRef {
    margin: 0% !important;
}

.col-md-12 {
    flex: 0 0 100.0%;
    max-width: 100.0%;
}

.col-md-6 {
    flex: 0 0 50.0%;
    max-width: 50.0%;
}

.info {
    display: inline-flex;
    vertical-align: top;
    color: #1061a7 !important;
    font-size: 27px;
    padding-right: 5px;
}

.conturnos {
    display: inline-flex;
    vertical-align: top;
    color: #1061a7 !important;
    font-size: 27px;
    padding-right: 5px;
}

.conturnos {
    display: inline-flex;
    vertical-align: top;
    color: #1061a7 !important;
    font-size: 27px;
    padding-right: 5px;
}

.sinturnos {
    display: inline-flex;
    vertical-align: top;
    color: #e2e2e2 !important;
    font-size: 27px;
    padding-right: 5px;
}

h3 {
    margin: 0 0 10px;
    font-size: 1.75rem;
}  

.col-md-2 {
    flex: 0 0 16.666667%;
    max-width: 16.666667%;
}

.col-md-5 {
    flex: 0 0 41.666667%;
    max-width: 41.666667%;
}

.col-md-4 {
    flex: 0 0 33.333333%;
    max-width: 33.333333%;
}

.text-right {
    text-align: right !important;
 }

.text-left {
   text-align: left !important;
}

.text-center {
   text-align: center !important;
}

.cal-month-view .cal-events {
    margin: 0px;
    max-height: 0px;
}

.cal-month-view .cal-cell-top {
    min-height: 80px !important;
}
.cal-month-view .cal-day-cell {
    min-height: 80px !important;
}

.cal-month-view {
    min-height: 80px !important;
    font-weight: bold;
}

.lightskyblue {
    min-height: 80px !important;
    background-color: #1061a7 !important;
}

.lightskyblue:hover {
    min-height: 80px !important;
    background-color: #1061a780 !important;
}

.lightslategray {
    min-height: 80px !important;
    background-color: #e2e2e2 !important;
}

.lightslategray:hover {
    min-height: 80px !important;
    background-color: #e7e7e7 !important;
}

.cambio-mes{
    margin: 0 0 10px;
    font-size: 1.75rem;
    padding-left: 2%;
    padding-right: 2%;
    padding-top: 1%;
}

.cambio-mes:hover {
    cursor: pointer;
}

.cal-day-number {
    color: black;
    font-size: 20px !important;
    font-weight: bold !important;
}

.cal-month-view .cal-day-number {
    opacity: 0.8;
}

.cal-month-view .cal-day-cell.cal-weekend .cal-day-number {
    color:  #ff0000; 
    font-weight: bold;
}

.lightskyblue .cal-day-number {
    color: white;
    opacity: 1;
}

.lightskyblue .cal-weekend .cal-day-number {
    color: white;
    opacity: 1;
}

.lightskyblue:hover .cal-day-number {
    color: black;
    opacity: 0.8;
}

.lightskyblue:hover .cal-weekend .cal-day-number {
    color: black;
    opacity: 0.8;
}



