<div class="cuadro-formulario" *ngIf="((eventsLength$ | async) > 0)" #target>
  <div class="row clearfix">
      <div *ngIf="(profesionalSelected$ | async) != undefined">
        <div class="texto"> 
          <span class="material-icons icon-image-preview info">person</span>
          <span>Profesional: Dr/a. {{(profesionalSelected$ | async)?.nombreApellido || 'N/A'}}</span>
        </div>
        <div class="texto"> 
          <span class="material-icons icon-image-preview info">work</span>
          <span>Especialidad: {{(profesionalSelected$ | async)?.especialidad?.nombre || 'N/A'}}</span>
        </div>
      </div>
      <div class="texto" *ngIf="(profesionalSelected$ | async) == undefined">
        <span class="material-icons icon-image-preview info">work</span>
        <span>Especialidad: {{especialidad?.nombre || 'N/A'}}</span>
      </div>
  </div>

  <div class="row clearfix"></div>
  <div class="rowRef clearfix">
    <div class="col-md-12 texto">
        <span class="material-icons icon-image-preview conturnos">label</span>
        <span>Día con turnos disponibles. Haga click para ver los horarios disponibles.</span>
    </div>
    <div class="col-md-12 texto">
        <span class="material-icons icon-image-preview sinturnos">label</span>
        <span>Día con atención, sin turnos disponibles.</span>
    </div>
  </div>

  <div class="row clearfix"></div>

  <div class="row clearfix">
    <mat-label>Visualizar Turnos </mat-label>
    <mat-radio-group (change)="cambiarFiltro2($event);"  [(ngModel)]="turnoFilter2"> 
        <mat-radio-button value="Todos">
            Mañana o tarde
        </mat-radio-button>
        <mat-radio-button value="AM">
            Mañana
        </mat-radio-button>
        <mat-radio-button value="PM">
            Tarde
        </mat-radio-button>                
    </mat-radio-group>
  </div>

  <div>
    <div class="row clearfix text-center">
      <div class="col-md-4">
        <div class="cambio-mes text-right" mwlCalendarPreviousView 
            [view]="view" 
            [(viewDate)]="viewDate"
            (viewDateChange)="closeOpenMonthViewDay()">
            <span class="material-icons icon-image-preview">arrow_back</span> 
        </div>
      </div>
      <div class="col-md-4">
        <h3>{{ _toMonthString(viewDate.getMonth()) }}</h3>
      </div>
      <div class="col-md-4">
        <div class="cambio-mes text-left" mwlCalendarNextView  
          [view]="view" 
          [(viewDate)]="viewDate"
          (viewDateChange)="closeOpenMonthViewDay()">
          <span class="material-icons icon-image-preview">arrow_forward</span> 
        </div>
      </div>
    </div>
  </div>

  <div class="">
    <mwl-calendar-month-view
      [viewDate]="viewDate"
      [events]="events$ | async"
      [refresh]="refresh"
      (beforeViewRender)="beforeMonthViewRender($event)"
      [locale]="locale"
      (dayClicked)="dayClicked($event.day)">
    </mwl-calendar-month-view>
  </div>
</div>
