.lightskyblue {
    background-color: #1061a760 !important;
}

.lightskyblue:hover {
    background-color: #1061a780 !important;
}

.lightslategray {
    background-color: #e2e2e2 !important;
}

.lightslategray:hover {
    background-color: #e7e7e7 !important;
}

.cambio-mes{
    padding-left: 2%;
    padding-right: 2%;
    padding-top: 1%;
    font-size: 24px;
}

.cambio-mes:hover {
    cursor: pointer;
}

.cal-day-number {
    color: black;
}