h3 {
    margin: 0 0 10px;
    font-size: 1.75rem;
}  

.col-md-2 {
    flex: 0 0 16.666667%;
    max-width: 16.666667%;
}

.col-md-5 {
    flex: 0 0 41.666667%;
    max-width: 41.666667%;
}

.col-md-4 {
    flex: 0 0 33.333333%;
    max-width: 33.333333%;
}

.text-right {
    text-align: right !important;
 }

.text-left {
   text-align: left !important;
}

.text-center {
   text-align: center !important;
}

.lightskyblue {
    background-color: #1061a7 !important;
}

.lightskyblue:hover {
    background-color: #1061a780 !important;
}

.lightslategray {
    background-color: #e2e2e2 !important;
}

.lightslategray:hover {
    background-color: #e7e7e7 !important;
}

.cambio-mes{
    margin: 0 0 10px;
    font-size: 1.75rem;
    padding-left: 2%;
    padding-right: 2%;
    padding-top: 1%;
}

.cambio-mes:hover {
    cursor: pointer;
}

.cal-day-number {
    color: black;
    font-size: 24px !important;
}

.lightskyblue .cal-day-number {
    color: white;
    opacity: 1;
}

.lightskyblue .cal-weekend .cal-day-number {
    color: white;
    opacity: 1;
}

.lightskyblue:hover .cal-day-number {
    color: black;
    opacity: 0.5;
}

.lightskyblue:hover .cal-weekend .cal-day-number {
    color: black;
    opacity: 0.5;
}

.cal-month-view .cal-header {
    font-weight: normal;
}