<div class="content">
    <div class="my-col-60">
        <div class="cuadro-formulario" >
            <div class="center">
                <mat-spinner *ngIf="loading"></mat-spinner> 
            </div>
            <div *ngIf="turno != undefined">
                <div class="row clearfix info">
                    <span class="material-icons icon-image-preview">done</span>
                    <p class="texto">Se ha confirmado la reserva del turno:</p>
                </div>
                <div class="row clearfix">
                    <div class="col-md-6 texto">
                        <span class="material-icons icon-image-preview">calendar_today</span>
                        Fecha y hora:  {{ turno.fecha | date:'dd/MM/yyyy' }} - {{ turno.hora }} hs
                    </div>
                    <div class="col-md-6 texto">
                        <span class="material-icons icon-image-preview">local_hospital</span>
                        Centro Médico: {{ turno.centroAtencion.nombre }}
                    </div>
                    <div class="col-md-6 texto">
                        <span class="material-icons icon-image-preview">person</span>
                        Profesional: {{ turno.profesional?.nombreApellido }}
                    </div>
                    <div class="col-md-6 texto">
                        <span class="material-icons icon-image-preview">work</span>
                        Especialidad: {{ turno.profesional?.especialidad?.nombre }}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>