<div class="cuadro-formulario" *ngIf="
    (((turnoSelected$ | async) != undefined) && ((estado$ | async) == 5))">
    <div class="overlay" *ngIf="loading">
        <div class="center" style="top: 40%">
            <mat-spinner ></mat-spinner>
        </div>
    </div>
    <div class="row clearfix">
        <p>
          Turno seleccionado:
        </p>
    </div>

    <div class="row clearfix">
        <div class="col-md-6 texto">
            <span class="material-icons icon-image-preview">calendar_today</span>
            Fecha y hora: {{turnoSelected?.fecha | date: 'dd/MM/yyyy'}} {{turnoSelected?.hora}}
        </div>
        <div class="col-md-6 texto">
            <span class="material-icons icon-image-preview">local_hospital</span>
            Centro Médico: {{ turnoSelected?.centroAtencion.nombre }} 
        </div>
        <div class="col-md-6 texto">
            <span class="material-icons icon-image-preview">person</span>
            Profesional: {{ turnoSelected?.profesional?.nombreApellido }}
        </div>
        <div class="col-md-6 texto">
            <span class="material-icons icon-image-preview">work</span>
            Especialidad: {{ turnoSelected?.profesional?.especialidad?.nombre }} 
        </div>
    </div>

    <div class="row clearfix"></div>
    <div class="row clearfix">
        <p>
            Ingrese los siguientes datos para finalizar la reserva del turno
        </p>
    </div>

    <div class="row clearfix">
        <mat-form-field style="width: 55%; padding-right: 10%;">
            <mat-label>DNI</mat-label>
            <input matInput [formControl]="dni" 
                   placeholder="Ingrese su DNI">
            <mat-error *ngIf="dni.invalid">
                Ingrese su DNI
            </mat-error>
        </mat-form-field>
        <mat-form-field style="width: 45%;">
            <mat-label>Sexo</mat-label>
            <mat-select [formControl]="sexo">
                <mat-option *ngFor="let sexo of sexo$" [value]="sexo">
                    {{sexo}}
                </mat-option>
            </mat-select>
            <mat-error *ngIf="sexo.invalid">Ingrese su sexo</mat-error>
        </mat-form-field>
    </div>

    <div class="row clearfix">
        <mat-form-field style="width: 100%;">
            <mat-label>Nombre y Apellido</mat-label>
            <input matInput [formControl]="nombreApellido" 
                   placeholder="Ingrese su nombre y apellido">
            <mat-error *ngIf="nombreApellido.invalid">
                Ingrese su nombre y apellido
            </mat-error>
        </mat-form-field>
    </div>

    <div class="row clearfix">
        <mat-form-field style="width: 100%;">
            <mat-label>Teléfono</mat-label>
            <input matInput [formControl]="telefono" 
                   placeholder="Ingrese su Teléfono">
            <mat-error *ngIf="telefono.invalid">
                Ingrese su Teléfono
            </mat-error>
        </mat-form-field>
    </div>
    <div class="row clearfix">
        <mat-form-field style="width: 100%;">
            <mat-label>Mail</mat-label>
            <input matInput [formControl]="mail" 
                   placeholder="Ingrese su mail">
            <mat-error *ngIf="mail.invalid">
                Ingrese un mail válido
            </mat-error>
        </mat-form-field>
    </div>

    <div class="row clearfix">
        <button style="width: 50%;" class="button-default" mat-flat-button (click)="volverASeleccionDeTurno()">
            VOLVER
        </button>
        <button style="width: 50%;" class="button" mat-flat-button [disabled]="!isValid()" (click)="reservar()">
            RESERVAR
        </button>
    </div>
    <app-reserva-email></app-reserva-email>
</div>
