<h1 mat-dialog-title>Reserva de turno</h1>

<mat-dialog-content class="mat-typography">
  <p *ngIf="data?.datosReserva?.paciente">
    Se le ha enviado un mail a la dirección {{ data.datosReserva.paciente.email}} con un enlace para completar el proceso de solicitud de turno.
  </p>
  <p *ngIf="data?.datosReserva?.reserva?.vencimiento">
    Tiene tiempo hasta el día 
    {{ data.datosReserva.reserva.vencimiento | date:'dd/MM/yyyy'}}
    para confirmarlo.
  </p>
</mat-dialog-content>

<div mat-dialog-actions align="center">
  <button mat-flat-button class="button" [mat-dialog-close]="true" cdkFocusInitial>ACEPTAR</button>
</div>
