<h1 mat-dialog-title>Reserva de turno</h1>

<mat-dialog-content class="mat-typography">
  <p *ngIf="data?.reserva">
    Se le ha enviado un mail a la dirección {{ data.reserva.paciente.mail}}.
  </p>
  <p *ngIf="data?.reserva?.reserva?.vencimientoReserva">
    Tiene tiempo hasta el día 
    <!--{{ data.reserva.reverva.vencimientoReserva | date:'dd/MM/yyyy'}}-->
    para confirmarlo.
  </p>
</mat-dialog-content>

<div mat-dialog-actions>
  <button mat-button [mat-dialog-close]="true" cdkFocusInitial>OK</button>
</div>