<h1 mat-dialog-title>Reserva de turno</h1>

<mat-dialog-content class="mat-typography">
  <p *ngIf="data?.turno">
    Usted ha seleccionado un turno con el/la Dr./a. 
    {{ data.turno.profesional.nombreApellido}} para el
    día {{ fecha | date:'dd/MM/yyyy' }} a las {{ data.turno.hora }} en 
    {{ data.turno.centroAtencion.nombre }}.
  </p>

  <p>¿Está seguro que desea reservar este turno?</p>
</mat-dialog-content>

<div mat-dialog-actions align="center">
  <button mat-flat-button class="button-default" (click)="onNoClick()">NO</button>  
  <button mat-flat-button class="button" [mat-dialog-close]="true" cdkFocusInitial>SI</button>
</div>
