<div class="cuadro-formulario" *ngIf="(horariosLength$ | async) > 0">

  <div class="row clearfix">
    <p>
      Haga click sobre el turno que desee para seleccionarlo.
    </p>
  </div>

  <div class="example-container">
    <div class="example-table-container">
      <table mat-table [dataSource]="horarios$ | async">

        <ng-container matColumnDef="fecha">
          <th mat-header-cell *matHeaderCellDef>Fecha</th>
          <td mat-cell *matCellDef="let row" style="cursor: pointer;" (click)="onClickTurno(row)"
            title="Seleccionar turno">
            {{row.fecha | date: 'dd/MM/yyyy'}}
          </td>
        </ng-container>

        <ng-container matColumnDef="hora">
          <th mat-header-cell *matHeaderCellDef>Horario</th>
          <td mat-cell *matCellDef="let row" style="cursor: pointer;" (click)="onClickTurno(row)"
            title="Seleccionar turno">
            {{row.hora}} 
          </td>
        </ng-container>

        <ng-container matColumnDef="profesional">
          <th mat-header-cell *matHeaderCellDef>Profesional</th>
          <td mat-cell *matCellDef="let row" style="cursor: pointer;" (click)="onClickTurno(row)"
            title="Seleccionar turno">
            {{row.profesional.nombreApellido}} 
          </td>
        </ng-container>

        <ng-container matColumnDef="observaciones">
          <th mat-header-cell *matHeaderCellDef>Observaciones</th>
          <td mat-cell *matCellDef="let row" style="cursor: pointer;" (click)="onClickTurno(row)"
            title="Seleccionar turno">
            {{row.observaciones}} 
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
    </div>

  </div>
</div>