<div class="cuadro-formulario">
    <div class="row clearfix">
        <mat-form-field style="width: 100%;">
            <mat-label>Fecha de Nacimiento</mat-label>
            <input matInput [matDatepicker]="picker" [max]="maxDate" (dateInput)="cambioFechaNacimiento($event)"
                [formControl]="fechaNacimiento">
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker touchUi #picker startView="multi-year" [startAt]="startDate"></mat-datepicker>
            <mat-error *ngIf="fechaNacimiento.invalid">Ingrese su Fecha de Nacimiento</mat-error>
        </mat-form-field>
    </div>

    <div class="row clearfix">
        <mat-form-field style="width: 55%; padding-right: 10%;">
            <mat-label>Obra Social</mat-label>
            <mat-select (selectionChange)="cambioObraSocial($event); onEnterE($event, 'planField')" [formControl]="obrasSocial">
                <mat-option *ngFor="let os of obrasSociales$ | async" [value]="os">
                    {{os.nombre}}
                </mat-option>
            </mat-select>
            <mat-error *ngIf="obrasSocial.invalid">Ingrese su Obra Social</mat-error>
        </mat-form-field>
        <mat-form-field style="width: 45%;">
            <mat-label>Plan</mat-label>
            <mat-select (selectionChange)="cambioPlan($event); onEnterE($event, 'especialidadField')" name="planField" [formControl]="plan">
                <mat-option *ngFor="let p of planes$ | async" [value]="p">
                    {{p.nombre}}
                </mat-option>
            </mat-select>
            <mat-error *ngIf="plan.invalid">Ingrese su Plan</mat-error>
        </mat-form-field>
    </div>

    <div class="row clearfix" >
        <mat-form-field style="width: 100%;">
            <mat-label name="labelEspecialidad">Especialidad</mat-label>
            <input matInput name="especialidadField" type="text"  placeholder="Elija una" 
                [formControl]="especialidad"    #autoEspecComplete="matAutocompleteTrigger"
                [matAutocomplete]="autoEsp" (keyup.enter)="onEnterE($event, 'centroField')" 
                (keyup)="onEnterE2($event, 'centroField')" >
            <mat-autocomplete #autoEsp="matAutocomplete" [displayWith]="displayFn" >
                <mat-option *ngFor="let e of filteredEspecialidades$ | async" [value]="e"
                    (selectionChange)="cambioEspecialidad($event); onEnterE($event, 'centroField')" 
                    (click)="onEnterE($event, 'centroField')">
                    {{e.nombre}}
                </mat-option>
            </mat-autocomplete>
          
            <button mat-icon-button matSuffix (click)="clear('especialidad')" 
                *ngIf="especialidad.value != undefined && especialidad?.value !== ''"><mat-icon>clear</mat-icon></button>
            <mat-error *ngIf="especialidad.invalid">Ingrese una Especialidad</mat-error>
        </mat-form-field>
    </div>

    <div class="row clearfix">
        <mat-form-field style="width: 100%;">
            <mat-label>Centro de Atención</mat-label>
            <mat-select name="centroField" (selectionChange)="cambioCentroDeAtencion($event)" [formControl]="centroAtencion">
                <mat-option *ngFor="let ca of centrosDeAtencion$ | async" [value]="ca">
                    {{ca.nombre}}
                </mat-option>
            </mat-select>
            <mat-error *ngIf="centroAtencion.invalid">Ingrese el Centro de Atención</mat-error>
        </mat-form-field>
    </div>

    <div class="row clearfix">
        <button style="width: 100%;" class="button" mat-flat-button [disabled]="!isValid()" (click)="onSubmit()">
            BUSCAR
        </button>
    </div>
</div>