<div class="cuadro-formulario">
    <div class="row clearfix">
        <p>
            DATOS DEL PACIENTE
        </p>
        <mat-form-field style="width: 100%;">
            <mat-label>Fecha de Nacimiento</mat-label>
            <input matInput [matDatepicker]="picker" [max]="maxDate" (dateInput)="cambioFechaNacimiento($event)"
                [formControl]="fechaNacimiento">
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker touchUi #picker startView="multi-year" [startAt]="startDate"></mat-datepicker>
            <mat-error *ngIf="fechaNacimiento.invalid">Ingrese su Fecha de Nacimiento</mat-error>
        </mat-form-field>
    </div>

    <div class="row clearfix">
        <mat-form-field style="width: 100%;">
            <mat-label>Obra Social</mat-label>
            <input type="text" placeholder="Seleccione una" matInput [formControl]="obrasSocial" [matAutocomplete]="autoOS"
                #autoObraComplete="matAutocompleteTrigger"
                (keyup.enter)="onEnterE($event, 'planField')" (keyup)="onEnterE2($event, 'planField')">
            <mat-autocomplete #autoOS="matAutocomplete" [displayWith]="displayFn" 
                (selectedValueChange)="cambioObraSocial($event); onEnterE($event, 'planField')">
                <mat-option *ngFor="let os of filteredObrasSociales$ | async" [value]="os">
                    {{os.nombre}}
                </mat-option>
            </mat-autocomplete>
            <button mat-icon-button matSuffix (click)="clearOS()" 
                *ngIf="obrasSocial.value != undefined && obrasSocial?.value !== ''"><mat-icon>clear</mat-icon></button>
            <mat-error *ngIf="obrasSocial.invalid">Seleccione su Obra Social</mat-error>
        </mat-form-field>
     </div>   
     <div class="row clearfix">
        <mat-form-field style="width: 100%;">     
            <mat-label>Plan</mat-label>
            <mat-select (selectionChange)="cambioPlan($event); onEnterE($event, 'especialidadField')" 
                name="planField" [formControl]="plan" panelClass="my-select-panel-class">
                <mat-option *ngFor="let p of planes$ | async" [value]="p"
                    style="margin: 1rem 0 !important; overflow: visible !important;
                        line-height: initial !important; word-wrap: break-word !important; white-space: pre-wrap !important; height: unset !important;">
                    {{p.nombre}}
                </mat-option>
            </mat-select>
            <mat-error *ngIf="plan.invalid">Seleccione su Plan</mat-error>
        </mat-form-field>
    </div>

    <div class="row clearfix" >
        <mat-form-field style="width: 100%;">
            <mat-label name="labelEspecialidad">Especialidad</mat-label>
            <input matInput name="especialidadField" type="text"  placeholder="Todas" 
                [formControl]="especialidad"    #autoEspecComplete="matAutocompleteTrigger"
                [matAutocomplete]="autoEsp" (keyup.enter)="onEnterE($event, 'profesionalField')" 
                (keyup)="onEnterE2($event, 'profesionalField')" >
            <mat-autocomplete #autoEsp="matAutocomplete" [displayWith]="displayFn" >
                <mat-option *ngFor="let e of filteredEspecialidades$ | async" [value]="e"
                    (selectionChange)="cambioEspecialidad($event); onEnterE($event, 'profesionalField')" 
                    (click)="onEnterE($event, 'profesionalField')">
                    {{e.nombre}}
                </mat-option>
            </mat-autocomplete>
            <button mat-icon-button matSuffix (click)="clear()" 
                *ngIf="especialidad.value != undefined && especialidad?.value !== ''"><mat-icon>clear</mat-icon></button>
            <mat-error *ngIf="especialidad.invalid">Seleccione una Especialidad</mat-error>
        </mat-form-field>
    </div>

    <div class="row clearfix" >
        <mat-form-field style="width: 100%;">
            <mat-label name="labelProfesional">Profesional</mat-label>
            <input matInput name="profesionalField" type="text"  placeholder="Todos" 
                [formControl]="profesional"    #autoProfComplete="matAutocompleteTrigger"
                [matAutocomplete]="autoProf" (keyup.enter)="onEnterE($event, 'centroField')" 
                (keyup)="onEnterE2($event, 'centroField')" >
            <mat-autocomplete #autoProf="matAutocomplete" [displayWith]="displayFn2" >
                <mat-option [value]="undefined" (click)="onEnterE($event, 'centroField')">Todos</mat-option>
                <mat-option *ngFor="let e of filteredProfesionales$ | async" [value]="e"
                    (selectionChange)="cambioProfesional($event); onEnterE($event, 'centroField')" 
                    (click)="onEnterE($event, 'centroField')">
                    {{e.nombreApellido}}
                </mat-option>
            </mat-autocomplete>
            <button mat-icon-button matSuffix (click)="clearP()" 
                *ngIf="profesional.value != undefined && profesional?.value !== ''"><mat-icon>clear</mat-icon></button>
            <mat-error *ngIf="profesional.invalid">Seleccione un Profesional</mat-error>
        </mat-form-field>
    </div>

    <div class="row clearfix">
        <mat-form-field style="width: 100%;">
            <mat-label>Centro de Atención</mat-label>
            <mat-select name="centroField" (selectionChange)="cambioCentroDeAtencion($event)" [formControl]="centroAtencion">
                <mat-option *ngFor="let ca of centrosDeAtencion$ | async" [value]="ca">
                    {{ca.nombre}}
                </mat-option>
            </mat-select>
            <mat-error *ngIf="centroAtencion.invalid">Seleccione el Centro de Atención</mat-error>
        </mat-form-field>
    </div>

    <div class="row clearfix">
        <button style="width: 100%;" class="button" mat-flat-button [disabled]="!isValid()" (click)="onSubmit()">
            BUSCAR
        </button>
    </div>
</div>
<span  style="border: 2px solid transparent;" #footer autofocus></span>