section {
    display: table;
    margin: 8px;
  }

table {
    width: 100%;
}

/* Structure */

.example-container {
    position: relative;
}

.example-table-container {
    position: relative;
    max-height: 400px;
    overflow: auto;
}

table {
    width: 100%;
}

.example-loading-shade {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 56px;
    right: 0;
    background: rgba(0, 0, 0, 0.15);
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

.example-rate-limit-reached {
    color: #980000;
    max-width: 360px;
    text-align: center;
}

/* Column Widths */

.mat-column-number, .mat-column-state {
    max-width: 64px;
}

.mat-column-created {
    max-width: 124px;
}

.material-icons{
    color: #1061a7 !important;
}

.texto {
    line-height:26px;
}

.mat-row.ng-star-inserted:hover {
    background-color: #e2e2e2 !important;
}

.mat-radio-button {
    margin-left: 10px;
}

::ng-deep .mat-radio-button.mat-accent .mat-radio-ripple .mat-ripple-element {
    opacity: 0.0 !important;     /*click effect color change*/
    background-color: #1061a7 !important;
}

::ng-deep .mat-radio-button.mat-accent .mat-radio-inner-circle {
    background-color: #1061a7 !important;   /*inner circle color change*/
}

::ng-deep.mat-radio-button.mat-accent.mat-radio-checked .mat-radio-outer-circle {
    border-color: #1061a7 !important; /*outer ring color change*/
}
