<div class="cuadro-formulario" 
  [hidden]="!(((profesionalesDisponiblesLenght$ | async) > 0)  && ((estado$ | async) >= 2))">

  <div class="row clearfix">
    <p>
      Haga click sobre el profesional para ver todos los turnos disponibles o directamente sobre el turno que desee reservar.
    </p>
  </div>
  <div class="row clearfix">
    
          <mat-label>Visualizar Próximo Turno</mat-label>
          <mat-radio-group name="filtro" (change)="cambiarColumna($event);" > 
              <mat-radio-button value="Todos" checked="true">
                  Mañana o tarde
              </mat-radio-button>
              <mat-radio-button value="AM">
                  Mañana
              </mat-radio-button>
              <mat-radio-button value="PM">
                  Tarde
              </mat-radio-button>                
          </mat-radio-group>
    
  </div>

  <div class="example-container">
    <div class="example-table-container">
      <table mat-table [dataSource]="datasource" matSort >

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  
        <ng-container matColumnDef="nombreApellido">
          <th mat-header-cell *matHeaderCellDef style="width: 40%;" mat-sort-header>Profesional</th>
          <td mat-cell *matCellDef="let row" style="width: 40%; cursor: pointer;" 
            (click)="onClickProf(row.profesional)" title="Buscar turnos para este Profesional">
            {{row.nombreApellido}}
          </td>
        </ng-container>

        <ng-container matColumnDef="especialidad">
          <th mat-header-cell *matHeaderCellDef style="width: 40%;" mat-sort-header>Especialidad</th>
          <td mat-cell *matCellDef="let row" style="width: 40%; cursor: pointer;" 
            (click)="onClickProf(row.profesional)" title="Buscar turnos para esta especialidad">
            {{row.especialidad}}
          </td>
        </ng-container>

        <ng-container matColumnDef="turnoM">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Próx. Turno por la Mañana</th>
          <td mat-cell *matCellDef="let row">
            <span *ngIf="row.turnoManiana != undefined && row.turnoManiana.fecha != undefined"
              (click)="onClickTurno(row, 'M')" style="cursor: pointer;" title="Seleccionar turno">
              {{row.turnoM | date: 'dd/MM/yyyy'}} {{row.turnoManiana.hora}}
            </span>
          </td>
        </ng-container>

        <ng-container matColumnDef="turnoT">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Próx. Turno por la Tarde</th>
          <td mat-cell *matCellDef="let row">
            <span *ngIf="row.turnoTarde != undefined && row.turnoTarde.fecha != undefined"
              (click)="onClickTurno(row, 'T')" style="cursor: pointer;" title="Seleccionar turno">
              {{row.turnoT | date: 'dd/MM/yyyy'}} {{row.turnoTarde.hora}}
            </span>
          </td>
        </ng-container>

        <ng-container matColumnDef="turnoP">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Próx. Turno Libre</th>
            <td mat-cell *matCellDef="let row">
              <span *ngIf="row.turno != undefined && row.turno.fecha != undefined"
                (click)="onClickTurno(row, 'P')" style="cursor: pointer;" title="Seleccionar turno">
                {{row.turnoP | date: 'dd/MM/yyyy'}} {{row.turno.hora}}
              </span>
            </td>
          </ng-container>

        <ng-container matColumnDef="profesional.observaciones">
          <th mat-header-cell *matHeaderCellDef>
          </th>
          <td mat-cell *matCellDef="let row">
            <span *ngIf="row.profesional.observaciones">
              <mat-icon  #tooltip="matTooltip" (click)="tooltip.toggle()" matTooltip="{{ row.profesional.observaciones }}" 
                matTooltipPosition="left">notification_important </mat-icon>
            </span>
          </td>
        </ng-container>

      </table>
    </div>
  </div>

  <div class="row clearfix"  *ngIf="((profComboSelected$ | async) == undefined ||
    (profComboSelected$ | async).nombreApellido == undefined)" >
    <button style="width: 100%;" class="button" mat-flat-button (click)="onClickTodos()">
        VER DIAS DE TODOS LOS PROFESIONALES
    </button>
  </div>
  
</div>
<app-confirmation></app-confirmation>