<div class="cuadro-formulario" 
  *ngIf="(((profesionalesDisponiblesLenght$ | async) == 0) && ((estado$ | async) == 2))">
  <p>
    No se encontraron turnos para los criterios ingresados.
  </p>
</div>

<div class="cuadro-formulario" *ngIf="(profesionalesDisponiblesLenght$ | async) > 0">

  <div class="row clearfix">
    <p>
      Haga click sobre el profesional para ver todos los turnos disponibles o sobre el turno que desee reservar.
    </p>
  </div>

  <div class="example-container">
    <div class="example-table-container">
      <table mat-table [dataSource]="profesionalesDataSouce" matSort>

        <ng-container matColumnDef="profesional.nombreApellido">
          <th mat-header-cell *matHeaderCellDef style="width: 40%;" 
            mat-sort-header="profesional.nombreApellido">Profesional</th>
          <td mat-cell *matCellDef="let row" style="width: 40%; cursor: pointer;" 
            (click)="onClickProf(row.profesional)" title="Buscar turnos para este Profesional">
            {{row.profesional.nombreApellido}}
          </td>
        </ng-container>

        <ng-container matColumnDef="turnoManiana.fecha">
          <th mat-header-cell *matHeaderCellDef mat-sort-header="turnoManiana.fecha">Próx. Turno M</th>
          <td mat-cell *matCellDef="let row" title="Seleccionar turno">
            <span *ngIf="row.turnoManiana != undefined && row.turnoManiana.fecha != undefined"
              (click)="onClickTurno(row, 'M')" style="cursor: pointer;">
              {{row.turnoManiana.fecha | date: 'dd/MM/yyyy'}} {{row.turnoManiana.hora}}
            </span>
          </td>
        </ng-container>

        <!-- <ng-container matColumnDef="turnoTarde.fecha">
          <mat-header-cell *matHeaderCellDef mat-sort-header>Próx. Turno T</mat-header-cell>
          <mat-cell *matCellDef="let row" title="Seleccionar turno">
            <span *ngIf="row.turnoTarde != undefined && row.turnoTarde.fecha != undefined"
              (click)="onClickTurno(row, 'T')" style="cursor: pointer;">
              {{row.turnoTarde.fecha | date: 'dd/MM/yyyy' }} {{row.turnoTarde.hora}} 
            </span>
          </mat-cell>
        </ng-container>

        <ng-container matColumnDef="profesional.observaciones">
          <mat-header-cell *matHeaderCellDef mat-sort-header>Observaciones</mat-header-cell>
          <mat-cell *matCellDef="let row">
            {{row.profesional.observaciones}} 
          </mat-cell>
        </ng-container> -->

        <tr mat-header-row *matHeaderRowDef="displayedColumns;"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
    </div>
  </div>

  <div class="row clearfix">
    <button style="width: 100%;" class="button" mat-flat-button (click)="onClickTodos()">
        VER TODOS
    </button>
  </div>
  
</div>
<app-confirmation></app-confirmation>